html{
    overflow-y: hidden;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body::-webkit-scrollbar{
    width: 0px;
}

body{
    height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    scrollbar-width: 0px;
}

#div-flex{
    display: flex;
    height: 100vh;
    min-height: 100vh;
    flex-direction: column;
}


/* AQUI COMEÇA O MENU DE NAVEGAÇÃO DE CIMA */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: gray;
    display: flex;
    align-items: center;

    height: 60px;
    min-height: 60px;
    width: 100%;

}

.menu-cima{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
    width: 100%;
}

.user-perfil{
    width: 60px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 30px;
    
}

.menu-cima a .icon{
    line-height: 60px;
    font-size: 1.5em;
    color: white;
    display: inline-block;
    margin: 10px 20px;
}

/* sub menu com informações ETC */

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
}

/* Aqui vai a imagem da pessoa em css */
.user-info ion-icon{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 35px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
    font-size: 20px;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link .icon-style{
    background: #e5e5e5;
    border-radius: 50%;
    width: 25px;
    height: 15px;
    padding: 8px;
    margin-right: 10px;
    margin-left: 15px;
}

.sub-menu-link span{
    font-size: 19px;
    transition: trasnform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}


/* conteudo da pagina (main)*/

#div-flex main{
    flex: 1;
    background: #f3f3f3;
    padding: 60px 0 ;
}

/* ROLAGEM DO DESTAQUE */
 
.swiffy-slider{
    display: flex;
    align-items: center;

}

/* AQUI COMEÇA O MENU DE NAVEGAÇÃO DE BAIXO */
.menu-celular-baixo{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 70px;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.menu-celular-baixo ul{
    display: flex;
    width: 350px;
}

.menu-celular-baixo ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.menu-celular-baixo ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.menu-celular-baixo ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: white;
}

.menu-celular-baixo ul li.active a .icon{
    transform: translatey(-32px);
}

.menu-celular-baixo ul li a .text{
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(10px);
}

.menu-celular-baixo ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}

.indicador{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: lime;
    border-radius: 50%;
    border: 6px solid white;
    transition: 0.5s;
}

.indicador::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 white; 
}

.indicador::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 white; 
}

.menu-celular-baixo ul li:nth-child(2).active ~ .indicador{
    transform: translatex(calc(70px * 1));
}

.menu-celular-baixo ul li:nth-child(3).active ~ .indicador{
    transform: translatex(calc(70px * 2));
}

.menu-celular-baixo ul li:nth-child(4).active ~ .indicador{
    transform: translatex(calc(70px * 3));
}

.menu-celular-baixo ul li:nth-child(5).active ~ .indicador{
    transform: translatex(calc(70px * 4));
}
