html{
    overflow-y: hidden;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body::-webkit-scrollbar{
    width: 0px;
}

body{
    height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    scrollbar-width: 0px;
}

#div-flex{
    display: flex;
    height: 100vh;
    min-height: 100vh;
    flex-direction: column;
}


/* AQUI COMEÇA O MENU DE NAVEGAÇÃO DE CIMA */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;

    height: 60px;
    min-height: 60px;
    width: 100%;
    z-index: 2;

}

.menu-cima{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    width: 100%;
    height: 60px;
}

.menu-cima .logo img{
    width: 125px;
    height: auto;
}

.user-perfil{
    width: 60px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 30px;
    
}

.menu-cima a .icon{
    line-height: 60px;
    font-size: 1.5em;
    color: white;
    display: inline-block;
    margin: 10px 20px;
}

.user-perfil{
    font-size: 20px;
    width: 18px;
}

/* sub menu com informações ETC */

.sub-menu-wrap{
    position: absolute;
    top: 75%;
    right: -2%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
}

/* Aqui vai a imagem da pessoa em css */
.user-info ion-icon{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 35px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
    font-size: 20px;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link .icon-style{
    background: #e5e5e5;
    border-radius: 50%;
    width: 25px;
    height: 15px;
    padding: 8px;
    margin-right: 10px;
    margin-left: 15px;
}

.sub-menu-link span{
    font-size: 19px;
    transition: trasnform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}


/* conteudo da pagina (main)*/

#div-flex main{
    flex: 1;
    background: #f3f3f3;
    padding: 60px 0 ;
}

/* ROLAGEM DO DESTAQUE */
 
.swiffy-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

/* DEstaques */

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.categoria{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e61875;
    height: 40px;
    padding: 10px;
    border-radius: 40px;

    font-size: 40px;
}

.gambiarra{
    overflow: hidden;
}

.categoria-txt {
    display: flex;
    align-items: center;

    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #000000;
    font-size: 40px;
    width: 0;
    transition: .2s;

    max-height: 400px;
    
    transition: max-height 0.5s;
}

.categoria-txt.open-menu{
    max-height: 400px;
}



.categoria-icone{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categoria:hover > .gambiarra{
    overflow: auto;
    width: 1000px;
    
    padding: 0 6px;
}
