*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body::-webkit-scrollbar{
    width: 0px;
}

body{
    height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    scrollbar-width: 0px;
}

#div-flex{
    display: flex;
    height: 100vh;
    min-height: 100vh;
    flex-direction: column;
}


/* AQUI COMEÇA O MENU DE NAVEGAÇÃO DE CIMA */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;

    height: 60px;
    min-height: 60px;
    width: 100%;
    z-index: 2;

}

.menu-cima{
    display: flex;
    align-items: center;
    
    padding: 0 5%;
    width: 100%;
    height: 60px;
}

.menu-cima .logo img{
    width: 125px;
    height: auto;
}

/* ALINHAMENTOS DOS ICONES DO MENU */
.menu-alinhamento{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

/* BARRA DE PESQUISA */
nav.menu-cima .menu-alinhamento form{
    position: absolute;
    top: 65px;
    right: 70px;
    opacity: 0;
    pointer-events: none;

    display: flex;
    height: 40px;
    border-radius: 2px;
    padding: 2px;
    background: #f6f6f6;
    min-width: 18%!important;
    border: 1px solid rgb(155,155,155,0.2);

    transition: top 0.3s ease, opacity 0.1s ease;
}

nav.menu-cima .menu-alinhamento form.active{
    opacity: 1;
    top: 80px;
    pointer-events: auto;
}

nav.menu-cima .menu-alinhamento form::after{
    position: absolute;
    content: "";
    height: 50px;
    width: calc(100% + 10px);
    padding: 2px;
    background: #ed1c4e;
    border-radius: 2px;
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

nav.menu-cima .menu-alinhamento form .search-data{
    height: 100%;
    width: 100%;
    padding: 0 10px ;
    color: lime;
    font-weight: 500;
    background: none;
    border: none;
    font-size: 17px;
}

nav.menu-cima .menu-alinhamento form button{
    padding: 0 15px;
    background: #ed1c4e;
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: #f6f6f6;
    border-radius: 2px;
}

nav.menu-cima .menu-alinhamento .cancel-icon{
    width: 40px;
    color: #000;
    text-align: center;
    font-size: 30px;
    cursor: pointer;

    display: none;
}

nav.menu-cima .menu-alinhamento .search-icon{
    width: 40px;
    color: #000;
    text-align: center;
    font-size: 27px;
    cursor: pointer;
    display: block;
}

nav.menu-cima .menu-alinhamento .search-icon.hide{
    display: none;
}

nav.menu-cima .menu-alinhamento .cancel-icon.show{
    display: block;
    
}



/* PERFIL QUE ABRE O SUB MENU */
.user-perfil{
    width: 27px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 20px;
    
}

.menu-cima .icon{
    font-size: 25px;
}

.menu-cima a .icon{
    line-height: 60px;
    font-size: 1.5em;
    color: white;
    display: inline-block;
    margin: 10px 20px;
}


/* sub menu com informações ETC */

.sub-menu-wrap{
    position: absolute;
    top: 75%;
    right: 0%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #fff;
    border: 2.5px solid #ed1c4e;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}



/* Aqui vai as informações da pessoa em css */
.user-info{
    display: flex;
    align-items: center;
}

.user-info h2{
    color: #312f88;
}


.user-info ion-icon{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 35px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ed1c4e;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ed1c4e;
    margin: 12px 0;
    font-size: 20px;
}

.sub-menu-link .icon-style{
    color: #fff;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link .icon-style{
    background: #ed1c4e;
    border-radius: 50%;
    width: 25px;
   
    padding: 8px;
    margin-right: 10px;
    margin-left: 15px;
}

.sub-menu-link span{
    font-size: 20px;
    transition: trasnform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}


/* conteudo da pagina (main)*/

#div-flex main{
    flex: 1;
    background: white;
    padding: 60px 0 15px 0;
    margin-bottom: 15px;

    width: 100vw;
    height: 100vh;
}



/* ROLAGEM DO DESTAQUE */
 
.swiffy-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    max-width: 100vw;
    min-width: 100vw;
}

.slider-container{
    max-width: 95%;

}


/* BOTÃO LOCAIS ESPORTIVO TESTE */

.myButton {
	background-color:#f7f7f7;
	border-radius:8px;
	border:2px solid #ed1c4e;
	display:inline-block;
	cursor:pointer;
	color: #ed1c4e;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	font-style:italic;
	padding:6px 12px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#ededed;
}
.myButton:active {
	position:relative;
	top:1px;
}





/* botão para os locais esportivos */


.botao-locais{
   width: 100%;
   margin-top: 20px;
}

.botao-locais nav{
    display: grid;
    place-items: center;

}

.botao-locais button{
    
    display: flex;
    justify-items: center;
    align-items: center;

    background-color: black;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    border-color: z;
    border: 50px;

    font-weight: 550;
}

.botao-locais button :hover{
    background-color: black;
    transform: scaleY(1.2);
}


/* PUBLICAÇÕES DAS PESSOAS */

.publication{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    

}

.publication nav{
    width: 95%;
}

.barra-publi-cima{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 60px;
    width: 100%;
    margin-top: 30px;
    border-top: 2px solid #ed1c4e;
    /* border:1.5px solid #ed1c4e;
    border-bottom: none; */
    border-radius: 10px 10px 0 0;

    color: #ed1c4e;
    background: #f6f6f6;
}

.publication nav .barra-publi-cima a{
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

.person{
    display: flex;
    align-items: center;
}

.barra-publi-cima a .person img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 0 0 5px;
}

.publication .barra-publi-cima .person h2 {
    font-size: 1.15em;
    padding: 0 0 0 5px;
    display: flex;
    align-items: center;
    
}

.publication .barra-publi-cima .person h2 #verif-icon{
    font-size: 1em;
    padding: 0 0 0 2px;
    color: rgb(9, 167, 230);
    
}

/* IMAGEM DA PUBLICAÇÃO + NOME E PREÇO */
.img-produto{
    display: flex;
    flex-direction: column-reverse;
}


.publication .img-produto img{
    max-width: 100%;
}



.publication .txt-produto{
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 0 0 5px;
    font-size: 15px;
    justify-content: space-between;

    background: #ed1c4db9;
    color: #f6f6f6;
    width: 95%;
    height: 30px;
    
}

/* BAIXO DA PUBLICAÇÃO COM AS INTERAÇÕES */

.publication .barra-publi-baixo{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 50px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    border-bottom: 2px solid #ed1c4e;

    background: #f6f6f6;
}

.interact-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    font-size: 30px;
}



/* MAP BUTTOM */

.menu-map{
    position: fixed;
    display: grid;
    justify-content: start;
    bottom: 0;

    font-size: 45px;

    margin: 0 0 10px 10px;

}

.menu-map a {
    width: 60px;
    height: 60px;
    bottom: 0;
}

.icon-map{
    display: flex;
    align-items: center;
    justify-content: center;
    

    width: 60px;
    height: 60px;

    background: #312f88;
    border-radius: 50%;
    border: 20px;
    

    color: white;
}
