body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: "poppins", sans-serif;
}

.photos{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 4fr));
    gap: 20px;
    height: 100%;
}

.photos img{
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover; 
}

/*Aqui começa todo o codigo do perfil*/

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}

.icones{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: black;
    
}


.container{
    width: 100%;
    min-height: 100vh;
    background: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card{
    height: 100%;
    width: 100%;
    max-width: 100%;
    text-align: center;
    background: #fff;
    color: #333;
}
.cover-pic{
    display: block;
    width: 100%;
}
.profile-pic{
    width: 30%;
    border-radius: 50%;
    margin-top: -70px;
    box-shadow: 0 0 0 0px #ff004f;
}
.profile-pic:hover{
    box-shadow: 0 0 0 4px #ff004f;
}

.profile-card h1{
    font-family: 600;
}
.seguir{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ff004f;
    color: #555;
    padding: 6px 35px;
    margin: 25px 0;
}
.row{
    display: flex;
    justify-content: space-around;
}
.row h2{
    font-weight: 500;
    font-size: 30px;
}
.view-btn{
    display:inline-block;
    text-decoration: none;
    background: #ff004f;
    color: #fff;
    width: 100%;
    padding: 15px 0;
    margin-top: 20px;
}
/* AQUI COMEÇA O MENU DE NAVEGAÇÃO DE CIMA */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 60px;
    min-height: 60px;
    padding: 0 16px;
    width: 100%;

}
