body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: "poppins", sans-serif;
}


/*Aqui começa todo o codigo do perfil*/

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}

.icones{
    padding: 2px;
    margin: 1px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: black;
}


.container{
    width: 100%;
    min-height: 100vh;
    background: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    columns: unset; 
}

.profile-card{
    height: 100%;
    width: 100%;
    max-width: 100%;
    text-align: center;
    background: #fff;
    color: #333  
}

.cover-pic{
    display: block;
    width: 100%;
}
.profile-pic{
    width: 30%;
    border-radius: 50%;
    margin-top: -70px;
    box-shadow: 0 0 0 0px #Ed1c4e;
}
.profile-pic:hover{
    box-shadow: 0 0 0 4px #Ed1c4e;
}

.profile-card h1{
    font-family: 600;
}
.seguir{
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    width: 35%;
    padding: 10px 0;
    background: #F01D51;
    margin-top: 15px;
    border-radius: 50px;
}

.photos{
    margin: 10px 0 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 20px;
    height: 100%;
    width: 100%;
    position: relative;
    
}

.profile img{
    border-radius: 50px;
    position: start;
    max-width: 60px;
    max-height: 60px;
}

.textProfile{
    text-align: start;
    color: black;
}

.icon{
    display: inline-flex;
    max-width: 35px;
    max-height: 35px;
}

.right{
    display: inline-flex;
    max-width: 50px;
    max-height: 50px;
}

.photos img{
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover; 
}

.row{
    display: flex;
    justify-content: space-around;
}
.row h2{
    font-weight: 500;
    font-size: 30px;
}
.view-btn{
    display:inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    width: 35%;
    padding: 10px 0;
    background: #F01D51;
    margin-top: 15px;
    border-radius: 50px;
}
.view-btn:hover{
    background: white;
    color:black;
}

.profile-card:hover{
    background: white;
    color:black;
}

.icone a{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: black;
}

.photos p{
    display: inline-flex;
    position: right;
    color: black;
    font-size: medium;

}
.profile{
    display: inline-flex;
    position: right;
    color: black;
    font-size: medium;
}


